@page "/editinterest/{Id:int}"
@inject HttpClient HttpClient
@inject IInterestService interestService
@inject NavigationManager NavigationManager

<h1>Editing @interest.Name</h1>

<EditForm Model="interestName" OnValidSubmit="ChangeInterestName">

<a class="text-primary">Change interest name:</a>
<InputText @bind-Value="interestName.Name"></InputText>
<button type="submit" class="btn btn-primary">Change Name</button>

</EditForm>

<button type="button" class="btn btn-danger"@onclick="DeleteUserInterest">Remove from interests</button>

@code {
    [Parameter]
    public int Id { get; set; }
    private InterestModel interest = new();
    private UpdateInterestModel interestName = new();

    protected override async Task OnParametersSetAsync()
    {
        // Hämta ett intresse från servern med det specifika Idt 

        var result = await HttpClient.GetFromJsonAsync<InterestModel>($"/api/interests/{Id}");

        if(result != null)
        {
            interest = result;
        }
    }

    private async void DeleteUserInterest()
    {
        var removeInterest = await interestService.DeleteUserInterest(Id);
        NavigationManager.NavigateTo("Interests");
    }

    private async void ChangeInterestName()
    {
        var updatedInterest = await interestService.ChangeInterestName(Id, interestName);
        NavigationManager.NavigateTo("Interests");
    }

}
