@page "/"
@using Fora.Shared.ViewModels
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Index</PageTitle>

<h1>Welcome to FORA!</h1>

<AuthorizeView>
    <Authorized>
        You are logged in as @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        You are not logged in
        <a href="login">
            <h3>
                Sign in
            </h3>
        </a>
        <a href="signup">
            <h3>
                Register
            </h3>
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    UserViewModel User = new();

    protected async override Task OnInitializedAsync()
    {
        //var user = await AuthStateProvider.GetAuthenticationStateAsync();
        //var username = user.User;
        
        //if (username != null)
        //{
        //    var response = await HttpClient.GetFromJsonAsync<UserModel>($"api/users{username}");
            
        //}
    }
}