@page "/"
@using Fora.Shared.ViewModels
@using System.Security.Claims
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col">
        <img class="img-fluid" src="/Assets/logo-small.png" />
    </div>
    <div class="col">
        <AuthorizeView>
            <Authorized>
                <h2 class="display-2">Welcome!</h2>
                You are logged in as @context.User.Identity.Name
            </Authorized>
            <NotAuthorized>
                <a href="login">
                    <h3>
                        Sign in
                    </h3>
                </a>
                <a href="signup">
                    <h3>
                        Register
                    </h3>
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>


@code {
    UserViewModel User = new();

    protected async override Task OnInitializedAsync()
    {

    }
}