@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to FORA!</h1>

<AuthorizeView>
    <Authorized>
        You are logged in as @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        You are not logged in
        <a href="login">
            <h3>
                Sign in
            </h3>
        </a>
        <a href="signup">
            <h3>
                Register
            </h3>
        </a>
    </NotAuthorized>
</AuthorizeView>