@page "/login"
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage

<h3>Login</h3>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />

    <label for="username">Username</label>
    <InputText id="username" @bind-Value="user.Username" />
    <label for="username">Password</label>
    <InputText id="password" @bind-Value="user.Password" type="password" />
    <button type="submit" class="btn btn-primary">Login</button>
    <ValidationSummary />
</EditForm>

@code {
    UserDTO user = new();

    async Task HandleLogin()
    {
        // Call api
        var result = await HttpClient.PostAsJsonAsync("api/account/login", user);

        // Read the token
        var token = await result.Content.ReadAsStringAsync();

        // Save token in storage
        await LocalStorage.SetItemAsync("token", token);

        // Update state
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
