@page "/pickinterests"
@using Fora.Shared.DTO
@using Fora.Shared.ViewModels
@using System.ComponentModel.DataAnnotations
@inject IInterestService InterestService
@inject NavigationManager NavigationManager

<h3 class="display-3">PickInterests</h3>

<h4>Available Interests</h4>
<EditForm Model="initialInterests" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
 
    <h5>Select interests (Minimum: 1, Maximum: 5)</h5>
    <div>
        <select class="form-select" size="10" multiple @bind="initialInterests">
            @foreach (var interest in options)
            {
                <option value="@interest.Id">@interest.Name</option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    [Required, MinLength(1), MaxLength(5)]
    int[] initialInterests { get; set; } = new int[]{};

    List<InterestViewModel> options = new();

    protected async override Task OnInitializedAsync()
    {
        options = await InterestService.GetAllInterests();
    }
    private async Task HandleValidSubmit()
    {
        AddInitialInterests initInterestModel = new();
        initInterestModel.InterestIds = new();
        initInterestModel.InterestIds.AddRange(initialInterests);
        // logic for saving form data
        await InterestService.AddInitialInterests(initInterestModel);

        NavigationManager.NavigateTo("/");
    }
}
