@page "/pickinterests"
@using Fora.Shared.DTO
@using Fora.Shared.ViewModels
@inject IInterestService InterestService
<h3 class="display-3">PickInterests</h3>

<h4>Available Interests</h4>
<EditForm Model="initialInterests" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
 
    <h5>Select interests (Minimum: 1, Maximum: 5)</h5>
    <div>
        <select multiple @bind="initialInterests" style="height: 150px; width: 200px;">
            @foreach (var interest in options)
            {
                <option value="@interest.Id">@interest.Name</option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    int[] initialInterests { get; set; } = new int[] { };

    List<InterestViewModel> options = new();

    protected async override Task OnInitializedAsync()
    {
        options = await InterestService.GetAllInterests();
    }
    private void HandleValidSubmit()
    {
        AddInitialInterests initInterestModel = new();
        initInterestModel.InterestIds.AddRange(initialInterests);

        var result = "hello";
        // logic for saving form data
    }
}
